<p id="notice"><%= notice %></p>

<h1>Meteos</h1>

<table>
  <thead>
    <tr>
      <th>Température</th>
      <th>Pression</th>
      <th>Humidité</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @meteos.each do |meteo| %>
      <tr>
        <td><%= meteo.temperature / 10.0 %></td>
        <td><%= meteo.pressure / 100.0 %></td>
        <td><%= meteo.humidity %>%</td>
        <td><%= meteo.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
